$--sw-person-container-background: #141414;
$--sw-person-container-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

$--sw-person-property-base-color: #ffffff;
$--sw-person-property-secondary-color: rgba(255, 255, 255, 0.6);

$--sw-body-background: #000000;

$--sw-input-background: rgba(255, 255, 255, 0.9);
$--sw-input-border-color: #000000;

$--sv-captain-rex-blue-color: #3581bd;
$--sv-dathomir-skies-color: #c6404b;